@mixin shadow {
    box-shadow: 2px 2px 10px #888888;
}

@mixin animation {
    transition-duration: 0.1s;
    transition-property: transform;   
}           
@mixin button {
           display: flex;
            justify-content: center;
            align-items: center;
            background-image: radial-gradient( #ffffff, #e4e4e4);  
            border-color: #ffffff #b1b1b1 #b1b1b1 #ffffff;
            color: #545454;
            border-width: 0.1vh;
            cursor: pointer;
            font-size: 11px;
            box-shadow: 0.25vh 0.25vh #737373;              
            width: 6vh;
            height: 4vh;
            margin:1vh;
            border-style: outset;  
               &:hover{
                //  background-image: radial-gradient(circle, #ffffff, #e4e8ff);
                background-image: radial-gradient( #ebeeff 80%, #e4e4e4);
            }
}

@mixin header_gradient {
    //background-image: radial-gradient(circle, #e4e4e4, #cccccc);
    //background-image: radial-gradient(circle, #cccbb7, #c3c3bb);
    background-image: radial-gradient(circle, #d0cbbc, #c1bcaa);
}
@mixin button_gradient {
    background-image: radial-gradient(#d8d8d8, #c1c1c1);
}